/* .split {
  display: flex;
}
.gutter {
  background-color: #eee;
  cursor: col-resize;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url(../public/favicon.ico);
} */