.split {
  display: flex;
}
.gutter {
  background-color: #eee;
  cursor: col-resize;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url(./Assets/gutterImage.jpg);
  background-size: contain;
}
.Sidebar{
  background-color: #161B22;
  color:  #cecefa;
  position: relative;
}
.sidebar--header{
  height: 15%;
  background-color: #222;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.sidebar--header h3{
  width: 100%;
  text-align: center;
  font-size: 3vw;
}
.sidebar--header .sidebar-toolBar{
  display: flex;
  gap: 5px;
}
.sidebar-toolBar button{
  padding: 10px;
  background-color: #555;
  color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar-toolBar .delete-all{
  width: 30px;
  background-image: url(./Assets/delete-all.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.sidebar-toolBar .delete-all:hover{
  scale: 1.1;
}
.noteElements{
  height: 85%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.note{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 10px;
}
.currentNote{
  background-color: peru;
}
.editor{
  height: 100vh;
  position: relative;
}
.mkd-editor{
  height: 100%;
}
.firstNote{
  height: 100vh;
  width: 100vw;
  background-color: #222;
  color: #cecefa;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.firstNote h1{
  font-size: 40px;
}
.firstNote button{
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 25px;
  background-color: #cecefa;
  color: #222;
  cursor: pointer;
  transition: all 200ms ease;
}

.firstNote button:hover{
  scale: 1.1;
}